<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Garden</title>
    
    <link rel="stylesheet" th:href="@{/css/root.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/personagens/forminsert">Adicionar novo personagem</a></li>
          <li><a href="/personagens/list">Lista de personagens</a></li>
           <img src="https://pm1.narvii.com/6495/e1a3d02bd09de85f22a2a3547f9f25c92cdbc009_hq.jpg"
        alt="Biblioteca Mogeko"
        />
        </ul>
      </nav>
    </header>
    <main>
      
    </main>
  </body>
</html>